* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Press Start 2P', cursive;
	z-index: 50;
	max-width: 100vw;
	max-height: 100vh;
}

body {
	background-color: #3d3c3c;
	background-image: url(img/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.TelaInicial {
	width: 100vw;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
	z-index: -2;
	font-size: 3.5rem;
}
.menu {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

.menu button {
	width: 200px;
	height: 70px;
	font-size: 25px;
	margin: 10px;
	border-radius: 10px;
	animation: opacidade 2s infinite;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.TelaBotoes {
	background-color: #000000ca;
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 55;
}

.botoes1, .botoes2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 150px;
}
  
.botoes1 button, .botoes2 button {
	width: 70px;
	height: 70px;
	font-size: 25px;
	margin: 2px;
	border-radius: 10px;
	animation: opacidade 2s infinite;
	font-family: Georgia, 'Times New Roman', Times, serif;
  }

.botoes2 {
	left: auto;
	right: 2%;
}

.botaoEsp button{
	width: 100px;
	height: 70px;
	padding: 5px;
	margin-bottom: 50px;
}

.TelaEscolha {
	width: 100vw;
	display: none;
	flex-direction: row;
	height: 100vh;
	justify-content: center;
	align-items: center;
	z-index: -2;
}

.escolhido {
	width: 50vw;
	height: 150vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.escolhido2 {
	width: 50vw;
	height: 150vh;
	padding-left: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imgEscolhido, .imgEscolhido2 {
	height: 700px;
	width: auto;
	animation: flutuar 3s infinite;
	left: 5%;
}

.imgEscolhido2 {
	left: auto;
	right: 5%;
}

.nomeEscolhido, .nomeEscolhido2, .nomeEscolhidoContorno, .nomeEscolhidoContorno2 {
	display: flex;
	position: fixed;
	color:#6456f7;
	font-style: italic;
	bottom: 5%;
	left: 5%;
	font-size: 2.8rem;
	animation: flutuar 3s infinite;
	font-weight: bold;
	z-index: 51;
}

.nomeEscolhido2, .nomeEscolhidoContorno2 {
	color : #c11515;
	left: auto;
	right: 5%;
}

.nomeEscolhidoContorno2, .nomeEscolhidoContorno {
	font-size: 3.1rem;
	color: #000000;
	z-index: 50;
	animation: none;
}

.selecao {
	background-color: #000000;
	position: fixed;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
	border-radius: 10px;
	border: #ffffff 2px solid;
} 

.selecao img {
	height: 4.3rem;
	width: auto;
	max-height: 200px;
}

.personagem {
	border: #ffffff 2px solid;
}

.selecaoEscolhido img, .selecaoEscolhido2 img{
	transform: scale(1.4);
	transition: 0.2s;
	background-color: #1549c159;	
}

.selecaoEscolhido2 img {
	background-color: #c1151570;	
}

.telaMapa {
	position: fixed;
	display: flex;
	border-radius: 10px;
	top: -100%;
	height: 100vh;
	width: 100vw;
	z-index: 55;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2.5rem;
}

.mapa {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nomeMapa {
	font-size: 2.5rem;
	margin: 0 20px;
}

.mapa img {
	height: 60%;
	width: 40%;
	border: #fafafa 5px solid;
	border-radius: 15px;
	margin-top: 30px;
	margin-bottom: 80px;
}

.selecaoMapa {
	background-color: #000000;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	border: #ffffff 2px solid;
	left: auto;
	z-index: 57;
} 

.botoesMapa {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


.descer {
	transition: 3s;
	transform: translateY(150%);
}

.descer2 {
	transition: 3s;
	transform: translateY(100%);
}

.esquerda {
	animation: esquerda 3s;
	transform: translateX(-30%);
}

.direita {
	animation: direita 3s;
	transform: translateX(20%);
}

@keyframes esquerda {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-30%);}
}

@keyframes direita {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(+20);}
}
@keyframes flutuar {
	0% {
		transform: translateY(0) scale(1);
	}
	50% {
		transform: translateY(-10px) scale(1.02);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}

@keyframes telaInicial {
	0% {
		opacity: 0.4;
	}
	50% {
		opacity: 0.8;
	}

	100% {
		opacity: 0.4;
	}
}

@keyframes opacidade {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 0.8;
	}

	100% {
		opacity: 0.4;
	}
}